<p id="notice"><%= notice %></p>

<p>
  <strong>Signup:</strong>
  <%= @applicant.signup_id %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @applicant.nickname %>
</p>

<p>
  <strong>Pob:</strong>
  <%= @applicant.pob %>
</p>

<p>
  <strong>Civilstat:</strong>
  <%= @applicant.civilstat %>
</p>

<p>
  <strong>Height:</strong>
  <%= @applicant.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @applicant.weight %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @applicant.religion %>
</p>

<p>
  <strong>Tin:</strong>
  <%= @applicant.tin %>
</p>

<p>
  <strong>Sss:</strong>
  <%= @applicant.sss %>
</p>

<p>
  <strong>Philhealth:</strong>
  <%= @applicant.philhealth %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @applicant.photo %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @applicant.resume %>
</p>

<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
